<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
  <!-- fonts? -->
</head>

<body>
  <header class="absolute inset-x-0 top-0 h-16 py-10">
    <div class="mx-auto max-w-4xl px-4 sm:px-6 lg:px-10">
      <nav class="relative z-50 flex justify-between items-center">
        <div>
          <a aria-label="Home" href="https://driv.ly" target="_blank">
            <img class="mx-auto h-8"
              src="https://uploads-ssl.webflow.com/60bee04bdb1a7a33432ce295/60beeb6f38814ea48d5c7c02_Drivly_logo_light.svg" />
          </a>
        </div>
        <div class="flex items-center block">
          <a class="text-sm font-semibold focus:outline-none text-slate-200 hover:text-white"
            href="/twitter"><span>Share on Twitter</span>
          </a>
        </div>
      </nav>
    </div>
  </header>

  <div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-[#060611] py-4 sm:py-1">
    <div class="mx-auto max-w-4xl px-4 mt-6 sm:py-10 text-center sm:px-6 lg:px-8">
      <div
        class="mx-auto mt-6 max-w-4xl text-md tracking-loose text-slate-500 prose py-6 prose-a:text-slate-100 prose-h1:text-2xl prose-img:hidden prose-p:text-left prose-p:max-w-2xl">
        {{ content }}
      </div>

      <!-- Apply CTA -->
      <div class="my-10 flex justify-center">
        <a class="group inline-flex items-center justify-center rounded-md bg-slate-50 py-3 px-6 w-full sm:w-56 text-md sm:text-sm font-semibold text-white hover:bg-slate-200 hover:text-slate-100 focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-900 active:bg-slate-800 active:text-slate-300"
          href="/apply">
          <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg"
            class="h-5 w-5 flex-none fill-white group-active:fill-current">
          </img>
          <span class="ml-3 text-slate-900">Apply Now</span>
        </a>
      </div>

    </div>
  </div>
</body>

</html>